.imgBox:hover img {
  animation: float 2s infinite ease-in-out;
  transform: translatey(0px);
}
@keyframes float {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(8px);
  }
}


ul.mt-6 > li {
  margin-bottom: 9px;
  color: white;
}
ul.mt-6 > li:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
}


.services {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  opacity: 0.7;
}

.frame iframe {
  background: #000000;
  border: none;
  border-radius: 20px;
  width: 1024px;
  height: 670px;
}
