@font-face {
  font-family: "Gazpacho";
  src: url("../src/assets/fonts/Gazpacho/Gazpacho\ Heavy.ttf");
}
@font-face {
  font-family: "gazpachoLight";
  src: url("../src/assets/fonts/Gazpacho/Gazpacho\ Light.ttf");
}
@font-face {
  font-family: "gingerThin";
  src: url("../src/assets/fonts/Ginger/gingerThin.ttf");
}
@font-face {
  font-family: "gingerRegular";
  src: url("../src/assets/fonts/Ginger/gingerRegular.ttf");
}
@font-face {
  font-family: "gingerBold";
  src: url("../src/assets/fonts/Ginger/gingerBold.otf");
}


@font-face {
  font-family: "mabryRegular";
  src: url("../src/assets/fonts/Mabry/mabry-regular-pro.ttf");
}
@font-face {
  font-family: "mabryMedium";
  src: url("../src/assets/fonts/Mabry/Mabry-Pro-Medium.ttf");
}
@font-face {
  font-family: "mabryLight";
  src: url("../src/assets/fonts/Mabry/MabryPro-Light.ttf");
}
@font-face {
  font-family: "mabryBlack";
  src: url("../src/assets/fonts/Mabry/Mabry-Pro-Black.ttf");
}
@font-face {
  font-family: "mabryBold";
  src: url("../src/assets/fonts/Mabry/MabryPro-Bold.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: "mabryRegular", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.htmlScreen {
  transition: opacity 0.5s cubic-bezier(0.61, 1, 0.88, 1);
  opacity: 1;
  position: relative;
  display: grid;
  grid-template:
    'label .'
    'tag expl';
  align-items: end;
  line-height: 1em;
  gap: 1em;
  overflow: hidden;
  pointer-events: none;
  height: 12.5vw;
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  overflow: hidden;
}

.htmlScreen.show {
  opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
